@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --input-background: #1a1a1a;
    --input-foreground: #ededed; 
  }
}

input.register {
  color: var(--input-foreground);
  background: var(--input-background);
  border: 1px solid #333;
  margin: 5px;
  border-radius: 8px; 
}

input.stallregister {
  color: var(--input-foreground);
  background: var(--input-background);
  user-select: all;
  border: 1px solid #333;
  margin: 5px;
  border-radius: 8px; 
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 15rem;
  user-select: none;
  cursor: pointer;
}

.dropdown-header {
  padding: 5% 1rem;
  background-color: var(--select-bg, #171717);
  color: var(--select-text, #ffffff);
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-arrow {
  margin-left: 0.5rem;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--option-bg, #f0f0f0);
  border-radius: 0.05em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  margin-top: 0.25rem;
  z-index: 1000;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  background-color: var(--option-bg, #171717);
  color: var(--option-text, #ffffff);
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--option-hover-bg, #ddd);
  color: var(--option-hover-text, #ffffff);
}

body {
  padding-top:30px;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}


